name: Build & Publish Debug APK

on:
 push:
  branches:
   - 'master'
   
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v2
    - name: setup jdk
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Make Gradle executable
      run: chmod +x ./gradlew
    - name: Build Release APK
      run: ./gradlew assembleRelease
    - name: Releasing using Hub
      uses: kyze8439690/action-release-releaseapk@master
      env:
       GITHUB_TOKEN: ${{ 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 }}
       APP_FOLDER: app
       RELEASE_TITLE: New Build
